html
  background-color white

body
  min-height 100vh
  position relative
  margin 0

main :empty
  display none

[href="#main"]
  will-change transform
  transform translateY(-150%)
  transition 250ms ease-in-out

[href="#main"]:focus
  transform translateY(0%)

@media print
  body > *:not(main)
    display none
