<!DOCTYPE html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    {{amp_ghost_head}}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,600,400" />
    <style amp-custom>
      {{!-- All CSS styles have to go here and are strictly forbidden anywhere else in the template --}}
    </style>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    {{amp_components}}
  </head>

  <body class="amp-template">
    {{#post}}
      <header class="main-header">
        <nav class="blog-title">
          <a href="{{@blog.url}}">{{@blog.title}}</a>
        </nav>
      </header>

      <main class="content" role="main">
        <article class="post">
          <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
              {{#author}}
              <p class="author">by <a href="{{url}}">{{name}}</a></p>
              {{/author}}
              <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time>
            </section>
          </header>
          <section class="post-content">
            {{amp_content}}
          </section>
        </article>
      </main>
    {{/post}}
    <footer class="site-footer clearfix">
      <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
      <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
    </footer>
  </body>
</html>
