<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    <script id="loadcss">
      !function(e){"use strict";var n=function(n,t,o){function i(e){return a.body?e():void setTimeout(function(){i(e)})}function r(){l.addEventListener&&l.removeEventListener("load",r),l.media=o||"all"}var d,a=e.document,l=a.createElement("link");if(t)d=t;else{var s=(a.body||a.getElementsByTagName("head")[0]).childNodes;d=s[s.length-1]}var f=a.styleSheets;l.rel="stylesheet",l.href=n,l.media="only x",i(function(){d.parentNode.insertBefore(l,t?d:d.nextSibling)});var u=function(e){for(var n=l.href,t=f.length;t--;)if(f[t].href===n)return e();setTimeout(function(){u(e)})};return l.addEventListener&&l.addEventListener("load",r),l.onloadcssdefined=u,u(r),l};"undefined"!=typeof exports?exports.loadCSS=n:e.loadCSS=n}("undefined"!=typeof global?global:this);
      loadCSS('{{asset "css/1.vendor.css"}}', document.getElementById('loadcss') );
      loadCSS('{{asset "css/0.client.css"}}', document.getElementById('loadcss') );
    </script>
    <noscript>
      <link rel="stylesheet" href="{{asset "css/1.vendor.css"}}">
      <link rel="stylesheet" href="{{asset "css/0.client.css"}}">
    </noscript>
    {{ghost_head}}
  </head>
  <body class="black-80 sans-serif {{body_class}}">
    <a href="#main" class="bg-white dark-blue dib no-underline ph3 pv2 shadow-4 top-0 left-0 absolute">Skip to main content</a>

    {{> site-header}}

    {{{body}}}

    {{#if @labs.subscribers}}
      <aside>
        {{subscribe_form placeholder="youremail@example.com"}}
      </aside>
    {{/if}}
    <script defer src="{{asset "js/2.manifest.js"}}" data-turbolinks-eval="false"></script>
    <script defer src="{{asset "js/1.vendor.js"}}" data-turbolinks-eval="false"></script>
    <script defer src="{{asset "js/0.client.js"}}" data-turbolinks-eval="false"></script>
    {{ghost_foot}}
  </body>
</html>
