{{!< default}}

<main id="main" class="mw8 center ph2">
  {{#foreach posts}}
    <article class="{{post_class}}">
      <header>
        <h2><a href="{{url}}">{{title}}</a></h2>
      </header>
      <section>
        <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">...</a></p>
      </section>
      <footer>
        {{#if author.profile_image}}<img src="{{author.profile_image}}" alt="Author image" />{{/if}}
        {{author}}
        {{tags prefix=" on "}}
        <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
      </footer>
    </article>
  {{/foreach}}

  {{pagination}}
</main>
