{{!< default}}

{{#post}}
  <main id="main" class="mw8 center ph2">
    <article class="{{post_class}}">
      <header>
        <h1>{{title}}</h1>
        <section>
          <time datetime="{{date format='YYYY-MM-DD'}}">
            {{date format="DD MMMM YYYY"}}
          </time>
          {{tags prefix=" on "}}
        </section>
      </header>
      <section>
        {{content}}
      </section>
    </article>
  </main>
{{/post}}
