{{!< default}}

{{#post}}
  <main id="main" class="mw8 center ph2">
    <article class="{{post_class}}">
      <header>
        <h1>{{title}}</h1>
        <section>
          <time datetime="{{date format='YYYY-MM-DD'}}">
            {{date format="DD MMMM YYYY"}}
          </time>
          {{tags prefix=" on "}}
        </section>
      </header>
      <section>
        {{content}}
      </section>
      <footer>
        <p>Written by {{author}}.</p>
        {{#author}}
          {{#if bio}}
            <p id="author-bio">{{{bio}}}</p>
          {{/if}}
          <ul class="author-links">
            {{#if website}}
            <li>
              <i class="author-link fa fa-link"></i>
              <a href="{{website}}">{{website}}</a>
            </li>
            {{/if}}
            {{#if twitter}}
            <li>
              <i class="author-link fa fa-twitter"></i>
              <a href="{{twitter_url}}">{{twitter}}</a>
            </li>
            {{/if}}
            {{#if facebook}}
            <li>
              <i class="author-link fa fa-facebook"></i>
              <a href="{{facebook_url}}">Facebook</a>
            </li>
            {{/if}}
          </ul>
        {{/author}}
      </footer>
    </article>
    <section>
      {{#prev_post}}
        <a href="{{url}}">{{title}}</a>
      {{else}}
	      <p>No more posts!</p>
      {{/prev_post}}
      {{#next_post}}
        <a href="{{url}}">{{title}}</a>
      {{else}}
	      <p>No more posts!</p>
      {{/next_post}}
    </section>
  </main>
{{/post}}
