html{background-color:#fff}body{min-height:100vh;position:relative;margin:0}[href="#main"]{will-change:transform;-webkit-transform:translateY(-150%);-ms-transform:translateY(-150%);transform:translateY(-150%);-webkit-transition:.25s ease-in-out;transition:.25s ease-in-out}[href="#main"]:focus{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}@media print{body>:not(main){display:none}}
/*# sourceMappingURL=0.client.css.map*/